# OS
.DS_Store

# IDE
.vscode
.idea

# About code
node_modules

# LOGS
*.log

# Docker
_data

# Misc
!.gitkeep

# environment
.env

.gitsecret/keys/random_seed
docker-compose.prod.yml
docker-compose.local.yml
